logs
project/project
project/target
target
tmp
.history
dist
.classpath

.cache

.project


.DS_Store

.idea/.name

.idea/encodings.xml

.idea
.target



.target
.settings



.metadata/*

public/.DS_Store


