<title></title>
<div class="toolbar"><img alt="" src="/assets/images/drag.png" width="10px" /></div>
<div class="postitContent">
<img alt="" src="/assets/images/<% if(taskId == "4fec1b053004bd62b0fead03") { %>sim1.png<% } else if (taskId == 2) { %>sim2.png<% } else if (taskId == 3) { %>sim3.png<% } %>" width="100%" height="100%" />
<br /><%= content %>
<br />
<br />
<div id="postitComment-<%= id %>"></div>
<input id="postitCommentInput-<%= id %>" type="text" class="commentInput" value="Write a comment..."/>
</div>