@(id: String, documentForm: Form[SDocument])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit document</h1>
    
    @form(routes.SDocuments.update(id)) {
        
        <fieldset>
        
           @inputText(documentForm("fileName"), '_label -> "Document name")
           @inputText(documentForm("runId"), '_label -> "Run Id")
            
            @select(
                documentForm("taskId"), 
                options(SProject.taskMeta), 
                '_label -> "Task Name", '_default -> "-- Choose a Task --",
                '_showConstraints -> false
            )
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this document" class="btn primary"> or 
            <a href="@routes.SDocuments.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.SDocuments.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this document" class="btn danger">
    }
    
}
