@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Sci-Hub 2012</title>
       
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/scihub.css")">
        
          <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("js/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/backbone-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/jquery.ez-pinned-footer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/models/scihubmodel.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/views/activities.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/views/simplepageviews.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("js/views/header.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/views/footer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/views/groups.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/views/picture.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/views/video.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/views/postit.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/main.js")" type="text/javascript"></script>
        
      
		
    </head>
    
    
    
    <body>
        
       <div id="content">
			<div id="header"></div>
			<div id="groups"></div>
			<div id="resources"></div>
			<div id="stage"></div>
		</div>
        
    </body>
</html>
